{
    "version": 1.0,
    "project": "nova8-checkmarx",
    "team": "CxServer/SP/Partners/Nova8",
    "sast": {
      "preset": "",
      "incremental": "true",
    },
    "additionalProperties": {
      "cxFlow": {
        "branches": ["main"],
        "thresholds": {
          "HIGH": 57,
          "MEDIUM": 81,
          "LOW": 731
        }
      }
    }
  }