{
    "version": 1.0,
    "project": "nova8-checkmarx",
    "team": "CxServer/SP/Partners/Nova8",
    "sast": {
      "preset": "High and Medium and Low",
      "incremental": "true",
      "break-build": "true",
      "fileExcludes": "*.pyc, *.test, *.class, *.md, *.txt, *.config",
      "folderExcludes": "*test, out/, *bin, .github/, .mvn/, config/, docs/, webgoat-integration-tests/"
    },
    "additionalProperties": {
      "cxFlow": {
        "branches": ["develop", "main", "master"],
        "filters": {
          "severity": ["High", "Medium", "Low"],
          "status": ["New", "Recurring"],
          "state": ["Confirmed", "To Verify"]
        }
      }
    }
  }