{
    "version": 1.0,
    "project": "nova8-checkmarx",
    "team": "CxServer/SP/Partners/Nova8",
    "sast": {
      "preset": "High and Medium and Low",
      "incremental": "true",
      "fileExcludes": "*.pyc, *.test, *.class, *.md, *.txt, *.config",
      "folderExcludes": "*test, out/, *bin, .github/, .mvn/, config/, docs/, webgoat-integration-tests/"
    },
    "additionalProperties": {
      "cxFlow": {
        "application": "nova8-checkmarx test config",
        "branches": ["develop", "main", "master"],
        "thresholds": {
          "HIGH": 59,
          "MEDIUM": 81,
          "LOW": 731
        }
      }
    }
  }